.section,
.section2 {
	display: grid;
	text-align: center;
	align-self: center;
	padding: 1rem;
	min-height: 100%;
	height: max-content;
}

.section {
	background-color: orangered;
	color: white;
	grid-template-rows: max-content auto auto;
}

.section2 {
	grid-template-columns: auto auto auto;
	color: orangered;
}

.section2Title {
	grid-column: 1/-1;
}
.gridFullColumn {
	grid-column: 1/-1;
}

.contentBox p {
	margin: 0 auto;
	text-align: justify;
}

@media (min-width: 600px) {
	.section {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: max-content auto;
	}
}
