.container {
	background-color: orangered;
	height: 100%;
	width: 100%;
	color: white;
}

.gridFullSpace {
	grid-column: 1/-1;
}

.resume {
	height: 100%;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: max-content auto;
	align-self: center;
	justify-content: center;
	padding: 1rem;
}

.resume div {
	width: 100%;
	height: 100%;
}

.container section div > p {
	margin: 2px;
}

.contentBox {
	text-align: justify;
}

.perfilImage {
	border: 1px solid white;
}

.tecnologyBox {
	text-align: center;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-self: center;
}

.tecnologyBoxTitle {
	color: orangered;
	font-weight: bold;
	grid-column: 1/-1;
}
