.container {
	width: 100%;
	height: 100%;
	background-color: orangered;
}

.header {
	display: grid;
	grid-template-columns: auto max-content;
	grid-column: 1/-1;
}

.navigationBar {
	display: grid;
	grid-template-columns: repeat(4, max-content);
	align-items: center;
	text-align: right;
	height: 100%;
}

.navigationLink {
	padding: 0.6rem;
	color: #fff;
}
.navigationLink:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.4);
	color: antiquewhite;
}
.active {
	color: black;
}

.section {
	min-height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	text-align: center;
	color: white;
	background-color: orangered;
	grid-template-rows: max-content;
}

.section2 {
	min-height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	text-align: center;
	color: orangered;
	background-color: white;
}

.section3 {
	min-height: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	text-align: center;
	color: white;
	background-color: orangered;
}
.imageProfile {
	margin: 0;
	padding: 0;
}

.titleSection {
	font-size: 2rem;
}

.fullSpaceGrid {
	grid-column: 1/-1;
}
