.section,
.section2,
.section3 {
	display: grid;
	text-align: center;
	align-self: center;
	padding: 1rem;
	min-height: 100%;
	height: max-content;
}

.section div > * {
	margin: 0;
	padding: 0 auto;
}

.section {
	display: grid;
	background-color: orangered;
	color: white;
	grid-template-rows: max-content auto auto;
}

.section div,
.section2 div,
.section3 div {
	align-self: center;
}

.section2 {
	color: orangered;
	grid-template-columns: auto;
}

.section3 {
	background-color: orangered;
	color: white;
	grid-template-rows: auto auto;
}

.gridFullColumn {
	grid-column: 1/-1;
}

@media (min-width: 600px) {
	.section {
		grid-template-rows: max-content auto;
		grid-template-columns: repeat(2, 1fr);
	}
	.section2,
	.section3 {
		grid-template-columns: repeat(2, 1fr);
	}
}
